@import "../../vars.css";

.container {
  color: var(--color-text);
  margin-top: 120px;
  background-color: var(--color-secondary);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100vw;
  padding: 58px 10%;
  gap: 10px;
}

.text h2 {
  font-size: 80px;
  font-weight: 700;
  letter-spacing: 4px;
}

.text p {
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  gap: 26px;
}

.link {
  display: flex;
  align-items: center;
  gap: 25px;
}

.link p {
  padding-top: 6px;
}

.link a {
  display: flex;
  flex-direction: row;
  color: var(--color-text);
  text-decoration: none;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
  gap: 14px;
}

.link:hover a {
  color: var(--color-hover);
}

@media screen and (max-width: 10700px) {
  .text h2 {
    font-size: 55px;
    font-weight: 600;
    letter-spacing: 3px;
    padding-bottom: 10px;
  }

  .text p {
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1px;
  }
}

@media screen and (max-width: 830px) {
  .container {
    margin-top: 50px;
    padding-top: 45px;
    padding-bottom: 45px;
  }

  .text {
    display: none;
  }

  .links {
    display: flex;
    flex-direction: row;
    gap: 35px;
  }

  .textLinks {
    display: none;
  }
  .link a {
    display: block;
  }

  .link img {
    width: 55px;
  }
}
