@import "../../vars.css";

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  background-color: var(--color-bg);
  z-index: 2;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logoImage {
  max-height: 60px;
}

.menuBtn {
  display: none;
}

.menu {
  display: flex;
}

.menuItems {
  display: flex;
  gap: 47px;
  list-style: none;
}

.menuItems a {
  font-size: 30px;
  color: var(--color-text);
  text-decoration: none;
  position: relative;
}

.menuItems a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 7px;
  bottom: -6px;
  left: 0;
  background-color: white;
  border-radius: 4px;
  transition: width 0.4s ease;
}

.menuItems a:hover::after {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .logoImage {
    max-height: 45px;
  }
}

@media screen and (max-width: 830px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    .logoImage {
      max-height: 30px;
    }
  }

  .menu {
    position: absolute;
    right: 0;
    margin-right: 10%;
    flex-direction: column;
    align-items: flex-end;
    gap: 11px;
    z-index: 3;
  }

  .menuBtn {
    display: block;
    cursor: pointer;
  }

  .menuItems {
    display: none;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    border-radius: 10px;
    background: rgb(25, 55, 109);
    background: linear-gradient(
      0deg,
      rgba(25, 55, 109, 0.2) 0%,
      rgba(25, 55, 109, 1) 100%
    );
    padding: 24px 33px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
  }

  .menuOpen {
    display: flex;
    z-index: 1;
  }
}
